.movieList {
  display: flex;
  flex-direction: column;

  & h1 {
    color: white;
  }

  & img {
    max-height: 150px;
    max-width: 100px;
  }

  & .mlItem {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}